html
    head
        title= title_jdid
    body
        h1 JBK_Hegemony
        div= name_jdid
        ul 
            -for(var i=0; i<5; i++)
                li Category
        div= time_jdid